table{
    color: white;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/185/696/989/dark-blur-abstract-minimalism-wallpaper-preview.jpg);
    
}
img{
    width: 75px;
    height: 65px;

}
body{
    display: flex;
    justify-content: space-around;
    margin-top: 125px;
    font-size: large;  
}

th{
    font-size: 40px; 
}
.line{
    border-bottom: 1px solid;
}
.align{
    vertical-align:top;
}
.move{
    vertical-align: bottom;
}
em{
    padding-left: 20px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

